<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{#<form>#}
{#    <input placeholder="First Name" type="text" value="{{ frm.fname }}" name="fname"><br><br>#}
{#    <input placeholder="Last Name" type="text"  value="{{ frm.lname }}" name="lname"><br><br>#}
{#    <input placeholder="Email" type="email"  value="{{ frm.email }}" name="email"><br><br>#}
{#    <input placeholder="Passowrd" type="password"  value="{{ frm.password }}" name="password"><br><br>#}
{##}
{#    <input type="submit" name="submit" value="Submit">#}
{##}
{#</form>#}



</body>
</html>