<!DOCT  YPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form3</title>
</head>
<body>
<form>
    {{ frm.as_p }}
    <input type="submit" value="Register">
</form>
{#<form>#}
{#    {% for fm in frm.hidden_fields %}#}
{#        {{ fm }}#}
{#    {% endfor %}#}
{#    {% for fm in frm.visible_fields %}#}
{#        {{ fm.label_tag }}#}
{#        {{ fm }}<br><br>#}
{#    {% endfor %}#}
{#    <input type="submit" value="Register">#}
{#</form>#}


{#<form>#}
{#    {% for fm in frm.hidden_fields %}#}
{#        {{ fm }}#}
{#    {% endfor %}#}
{#    {% for fm in frm.visible_fields %}#}
{#        {{ fm.label_tag }}#}
{#        {{ fm }}<br><br>#}
{#    {% endfor %}#}
{#    <input type="submit" value="Register">#}
{#</form>#}

{#<form>#}
{#    {{ frm.as_p }}#}
{#    <input type="submit" value="Register">#}
{#</form>#}
</body>
</html>