<html>
    <head>
        <title>Query Set</title>
    </head>
<body>

<table border="1">
    <tr>
        <td>pk</td>
        <td>Id</td>
        <td>Name</td>
        <td>Salary</td>
        <td>City</td>
    </tr>
{#    {% for employee in employees.values %}#}
{#        <tr>#}
{#            <td>{{ employee.id }}</td>#}
{#            <td>{{ employee.name | slice:":3" | capfirst}}</td>#}
{#            <td>{{ employee.salary }}</td>#}
{#            <td>{{ employee.city }}</td>#}
{#        </tr>#}
{#    {% endfor %}#}

        {% for employee in employees %}
        <tr>
            {% for emp in employee %}
            <td>{{ emp }}</td>
{#            <td>{{ employee.name | slice:":3" | capfirst}}</td>#}
{#            <td>{{ employee.salary }}</td>#}
{#            <td>{{ employee.city }}</td>#}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{#<table border="1">#}
{#    <tr>#}
{#        <td>Id</td>#}
{#        <td>Name</td>#}
{#        <td>Salary</td>#}
{#        <td>City</td>#}
{#    </tr>#}
{#    {% for employee in employees %}#}
{#        <tr>#}
{#            <td>{{ employee.id }}</td>#}
{#            <td>{{ employee.name | slice:":3" | capfirst}}</td>#}
{#            <td>{{ employee.salary }}</td>#}
{#            <td>{{ employee.city }}</td>#}
{#        </tr>#}
{#    {% endfor %}#}

    {#    {% for employee in employees.values %}#}
{#        <tr>#}
{#            <td>{{ employee.id }}</td>#}
{#            <td>{{ employee.name | slice:":3" | capfirst}}</td>#}
{#            <td>{{ employee.salary }}</td>#}
{#            <td>{{ employee.city }}</td>#}
{#        </tr>#}
{#    {% endfor %}#}
{#</table>#}



</body>
</html>
