<html>

<head>
    <title>Query Set</title>
</head>

<body>

    <table border="1">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Salary</td>
            <td>City</td>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.name | slice:":3" | capfirst}}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.city }}</td>
        </tr>
        {% endfor %}

        {# {% for employee in employees.values %}#}
        {# <tr>#}
            {# <td>{{ employee.id }}</td>#}
            {# <td>{{ employee.name | slice:":3" | capfirst}}</td>#}
            {# <td>{{ employee.salary }}</td>#}
            {# <td>{{ employee.city }}</td>#}
        {# </tr>#}
        {# {% endfor %}#}

        {% comment %} # ===========================================
        this is when it returns values in tuple and we have used values_list in views.py file instead of values {% endcomment %}

        {% for employee in employees %}
        <tr>
            {% for emp in employee %}
            <td>{{ emp }}</td>
            {# <td>{{ employee.name | slice:":3" | capfirst}}</td>#}
            {# <td>{{ employee.salary }}</td>#}
            {# <td>{{ employee.city }}</td>#}
            {% endfor %}
        </tr>
        {% endfor %}

        {% comment %} # ===========================================
        this is when it returns values in dictionary and we have used values in views.py file instead of values_list {% endcomment %}

        {% comment %} {% for x in employees %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.emp_id }}</td>
            <td>{{ x.name | slice:":3" | capfirst}}</td>
            <td>{{ x.salary }}</td>
            <td>{{ x.city }}</td>
            <td>{{ x.date }}</td>
        </tr>
        {% endfor %} {% endcomment %}

        {% comment %} ======================================== {% endcomment %}
    </table>

</body>

</html>