<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

{% if frm.non_field_errors %}
    {% for err in frm.non_field_errors %}
        {{ err }}
    {% endfor %}
{% endif %}

<form novalidate method="post">
    {% csrf_token %}

    {% for f in frm %}
        {{ f.label_tag }} {{ f }} {{ f.errors }} <br>
    {% endfor %}
    <button type="submit">Login</button>

    <br><br> 
    <a href="{% url 'singup' %}">Register</a> <br> <br> 
    <a href="{% url 'dashboard' %}">Dashboard</a> <br> <br> 
    <a href="{% url 'reset_password' %}">Rest Password </a>



</form>
</body>
</html>