<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    {% if messages %}
        {% for x in messages %}
            {{x.tags}} - {{x}}
        {% endfor %}
    {% endif %}

    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for x in frm %}
            {{x.label_tag}} <br><br> {{x}} <br><br> {{x.errors}}
        {% endfor %}

        <input type="submit" name="" id="" value="Submit">
    </form>
</body>
</html>