<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<style>
    .text-success{
        color: green;
    }

    .text-error{
        color: red;
    }

</style>
<form method="post" novalidate>
    {% csrf_token %}
    {% if messages %}
        Success msg: <br>
        {% for msg in messages %}
            {% if msg.tags == "success" %}
                <span class="text-{{ msg.tags }}"> {{ msg }} </span>
            {% elif msg.tags == "error" %}
                <span class="text-{{ msg.tags }}"> {{ msg }} </span>
            {% endif %}
        {% endfor %}
    {% endif %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>
</body>
</html>